body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Aerial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.header,
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1f2937;
  color: #f9faf8;
}

.head-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 50px;
}

.header-content h1 {
  margin: 0;
  padding-top: 28px;
}

.header {
  padding: 0 300px;
}

.logo {
  font-size: 24px;
}

ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #f9faf8;
  font-size: 16px;
}

.header-content {
  display: flex;
  padding-bottom: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 35px;
}

.picture {
  display: flex;
  flex: 2;
  padding: 15px;
}

.picture > img {
  width: 500px;
  height: auto;
}

/* .content > img {
  width: 500px;
  height: auto;
} */

.button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  padding: 8px 25px;
  width: 125px;
}

.footer {
  align-items: center;
  padding: 32px;
}

.text-heading {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.random-text {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 50px;
}

.random-item > img {
  border: 4px solid #3882f6;
  border-radius: 15px;
  width: 180px;
  height: auto;
}

.random-item {
  padding: 0;
  margin: 0;
  width: 180px;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
  text-align: center;
  padding: 70px 350px;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px 0px;
  background-color: #3882f6;
  border-radius: 15px;
  color: white;
  margin: 100px 350px;
}

.call-to-action > button {
  background-color: #3882f6;
  border: 2px solid white;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  margin-left: 100px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.call-to-action-heading {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin: 0;
}

.call-to-action-text {
  margin: 0;
  color: #e5e7eb;
}
