body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Aerial, sans-serif;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  color: #f9faf8;
}

.head-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header > img {
  width: 500px;
  height: auto;
}

ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

.footer {
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.button {
  background-color: #3882f6;
}
