body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Aerial, sans-serif;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  color: #f9faf8;
}

.head-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header {
  padding: 0 300px;
}

.logo {
  font-size: 24px;
}

ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #f9faf8;
  font-size: 16px;
}

.header-content {
  display: flex;
  width: 375px;
}

.content {
}

.content > img {
  width: 500px;
  height: auto;
}

.button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  padding: 8px 25px;
  width: 125px;
}

.footer {
  justify-content: center;
  align-items: center;
  padding: 32px;
}
